.circle {
  margin: auto;
  height: 100px;
  width: 100px;
  border: 12px solid ;
  border-top-color: #aaa;
  border-bottom-color: #aaa;
  border-right-color: blue;
  border-left-color: green;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 1.4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}
